<div style="width: 80%; text-align: center; padding-left: 300px; padding-right: 66px;padding-bottom: 40px;" >
    <form action="/applicant/check_guardian_availability" method="POST">
        <div class="form-group">
            <label for="guardian_nic" class="left">Enter Guardian NIC No to proceed:
                <input type="number" class="form-control" name="guardian_nic" required>
            </label>
            <input type="submit" class="btn btn-default">
        </div>
    </form>
</div>