{{#section 'head'}}
    <style>
        .jumbotron{
            background-image:url("images/front.jpg");
            height:250px;
            background-repeat: no-repeat;
            background-size: cover;
            border-bottom:1px solid #ff6a00
        }
        .block{
            text-align: center;
        }
        .jumbotron .container {
            position:relative;
            top:30px;
        }
        .jumbotron .h1 {
            color: white;
            font-size: 48px;
            font-family: 'Ubuntu Mono';
        }
        .jumbotron .p {
            color: white;
            font-size: 14px;
            font-family: 'Ubuntu Light';
        }
    </style>
{{/section}}

<!--Main Jumbotron Header-->
<div class="jumbotron">
    <div class="container animated fadeInDown">
        <h1 class="block h1">Welcome to Oxford School</h1>
        <p class="block p">Registration Portal for Grade - 1 Admissions.</p>
    </div>
</div>
<!--/ Main Jumbotron Header-->