<!--Navbar-->
<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#">Overview <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users/signup">Add a user</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users/update">Update user</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users/remove">Remove user</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/school">Register new schools</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Remove Schools</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Update School Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Declare Grading Criteria</a>
        </li>
    </ul>
</nav>
<!--/ Navbar-->