<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <!--Had to grab bootstrap from the source because the npm package was corrupted.-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <!--Custom sections for each view-->
    {{{_sections.head}}}

</head>
<body>
    <!--NavigationBar-->
    {{> navbar}}

    <!--Body and the sidebar-->
    <div class="container-fluid">
        {{{body}}}
    </div>

    <!--Scripts-->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/angular/angular.min.js"></script>

    {{_sections.scripts}}

</body>
</html>
