<div class="row">
    {{>sidebar_moe_officer}}

    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">

        <h4>Update school</h4>

        <form action = "/school/updateschool" method="post">

            <div class="form-group">
                <label for="name">Select the school to update</label>
                <div class="dropdown" id="name">
                    <select name="name" class="form-control" id="delete_school">
                        {{#each dropdownValues}}
                            <option value="{{this.name}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>


            <button type="submit" class="btn btn-primary" name = "btn_submit_school">Next</button>
            <!--<button type="submit" class="btn btn-primary" name = "btn_cancel_school">Cancel</button>-->

        </form>
    </main>
    <!--/ Main page content-->

</div>
