<span align="center">

    <h1>Guardian Details</h1>
    <div style="width: 60%; text-align: left; padding-left: 60px; padding-right: 66px;padding-bottom: 40px;" >
        <form action="/guardian_details" method="post">
            <div class="form-group">
                <label for="guardian_nic" class="left">NIC No:</label>
                <input type="number" class="form-control" name="guardian_nic" required>
            </div>
            <div class="form-group">
                <label for="first_name" class="left">First Name:</label>
                <input type="text" class="form-control" name="first_name" required>
            </div>
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" class="form-control" name="last_name" required>
            </div>
            <div class="form-group">
                <label for="dob">Date of Birth:</label>
                <input type="date" class="form-control" name="dob" required>
            </div>
            <div class="form-group">
                <label for="nationality"> Nationality </label>
                <div class="dropdown" id="nationality">
                    <select id="input_3" name="nationality"  data-component="dropdown">
                        <option value="">Select Nationality  </option>
                        <option value="Sri Lankan"> Sri Lankan </option>
                        <option value="Other"> Other </option>
                    </select>
                </div>
            </div>
            <label for="religion"> Religion </label>
            <div class="dropdown" id="religion">
                <select id="input_3" name="religion"  data-component="dropdown">
                    <option value="Buddhist"> Buddhist </option>
                    <option value="Christian"> Christian</option>
                    <option value="Islam"> Islam </option>
                    <option value="Hindu"> Hindu </option>
                    <option value="Other"> Other </option>
                </select>
            </div>
            <br>
            <div class="form-group">
                <label for="gender"> Gender </label>
                <div class="dropdown" id="gender">
                    <select id="input_3" name="gender"  data-component="dropdown">
                        <option value="M"> Male </option>
                        <option value="F"> Female</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="home_number" class="left">Home No:</label>
                <input type="number" class="form-control" name="home_number" required>
            </div>
            <div class="form-group">
                <label for="street" class="left">Street:</label>
                <input type="text" class="form-control" name="street" required>
            </div>
            <div class="form-group">
                <label for="town" class="left">Town:</label>
                <input type="text" class="form-control" name="town" required>
            </div>
            <div class="form-group">
                <label for="city" class="left">City:</label>
                <input type="text" class="form-control" name="city" required>
            </div>
            <div class="form-group">
                <label for="district" class="left">District:</label>
                <input type="text" class="form-control" name="district" required>
            </div>
            <div class="form-group">
                <label for="province" class="left">Province:</label>
                <input type="text" class="form-control" name="province" required>
            </div>
            <div class="form-group">
                <label for="divisional_secretary_area" class="left">Divisional Secretary Area:</label>
                <input type="text" class="form-control" name="divisional_secretary_area" required>
            </div>
            <div class="form-group">
                <label for="grama_niladhari_division" class="left">Grama Niladhari Division:</label>
                <input type="text" class="form-control" name="grama_niladhari_division" required>
            </div>
            <div class="form-group">
                <label for="occupation" class="left">Occupation:</label>
                <input type="text" class="form-control" name="occupation" required>
            </div>
            <label for="civil_status">Civil Status </label>
            <div class="dropdown" id="civil_status">
                <select id="civil_status" name="civil_status"  data-component="dropdown">
                    <option value="M">Married </option>
                    <option value="U">Unmarried</option>
                </select>
            </div>
            <br>
            <button type="Submit" class="btn btn-default">Next</button>
    </form>
    </div>
</span>
