<div style="width: 60%; text-align: left; padding-left: 60px; padding-right: 66px;padding-bottom: 40px;" >
    <form action="/users/view_applicant" method="post">
        <div class="form-group">
            <label for="guardian_nic" class="left">Enter Guardian NIC No:
                <input type="text" class="form-control" name="guardian_nic" required>
            </label>
            <input type="submit">
        </div>

    </form>
</div>
