<div>
    <table class="table table-striped table-bordered">
        <thead class="thead-inverse">
        <th>Applicant ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Marks</th>
        </thead>
        <tbody>
        {{#user}}
            <tr>
                <td>{{applicant_id}}</td>
                <td>{{first_name}}</td>
                <td>{{last_name}}</td>
                <td>{{total_marks}}</td>
            </tr>
        {{/user}}
        </tbody>
    </table>
</div>