<!--MOE OFFICER'S PAGE-->

<div class="row">

   {{>sidebar_moe_officer}}

    <!--Main page content-->
    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
        <div class="jumbotron" >
            <div class="container">
                <h1 style="text-align: center">Welcome, {{username}}</h1>
                <small><p style="text-align: center">Grade One Entry Management System</p></small>
                <p style="text-align: center">You can choose the operation that you want to perform from the sidebar.</p>
                <span align="center"><p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p></span>
            </div>
        </div>
    </main>
    <!--/ Main page content-->

</div>



